<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>alarm</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/usr/local/bin/riodelphino.macime.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>1</integer>

    <key>StandardOutPath</key>
    <string>/tmp/riodelphino.macime/out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/riodelphino.macime/err</string>
</dict>
</plist>
